<img src="" alt="profile pic" />
<h3>User name</h3>
<p>Number of posts</p>
<div>
  <h5>Bio</h5>
  <p>this is a bio</p>
</div>
<div>
  <h5>Post #1</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus 
    porro officiis odio soluta totam dolor expedita iure quaerat, rem sapiente 
    tenetur ullam qui molestias nulla illum. Numquam, eos deserunt.</p>
  <span>Comments x</span>
  <span>Likes y</span>
  <button>See all posts</button>
</div>
