<div class='card mx-auto my-1' style='max-width: 440px;'>
  <div class='card-body'>
    <h5 class='card-title'>Post #<%= i + 1%></h5>
    <h6 class='card-subtitle mb-2 text-body-secondary'><%= post.title%></h6>
    <span>Comments <%= post.comments_counter%></span>
    <span>Likes <%= post.likes_counter%></span>
  </div>
</div>
