<div class='list-group-item list-unstyled d-flex justify-content-between'>
  <li><%=comment.user.name %>: <%= comment.text%></li>
  <% if (can? :destroy, comment) || (comment.user.id == current_user.id) %>
    <div class="dropstart">
      <svg data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg>
      <div class="dropdown-menu">
        <%= button_to "Delete comment", comment_path(comment), method: :delete, class:'btn btn-sm btn-outline-danger' %>
      </div>
    </div>
  <% end%>
</div>
