<div>
  <div>
    <h5>Post #1 by username</h5>
    <span>Comments x</span>
    <span>Likes y</span></div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus 
    porro officiis odio soluta totam dolor expedita iure quaerat, rem sapiente 
    tenetur ullam qui molestias nulla illum. Numquam, eos deserunt.</p>
</div>
<div>
  <p>Username: this is a comment</p>
  <p>Username: this is a comment</p>
  <p>Username: this is a comment</p>
</div>
