/* user#index */
.profiles-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* user#show */
.profile-page {
  text-align: center;
}

.btn {
  color: black;
}

/* post#show */

.post-data {
  margin: 2% 4%;
  display: flex;
  justify-content: space-between;
}
